body{
    background-color:rgba(95, 158, 160, 0.808);
}
h1{
    min-height:50px;
    font-size: 60px;
    text-transform: uppercase;;
    display:flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px gray;
}
form{
    min-height:20vh;
    text-transform: uppercase;;
    display:flex;
    justify-content: center;
    align-items: center;
}
form input, 
form button ,form select{
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    background: white;
    border:none;
    border-radius: 2rem;
}

form button {
  color: darkorange;
  background: white;
  cursor: pointer;
  transition: all 0.3 ease;
}
form button:hover {
  color: chocolate;
  background: white;
}
.fa-plus-circle {
    margin-top: 1.1rem;
    margin-left: -8px;
}
.dropdown {
    position: relative;
    margin-left:-52px;
    margin-right:20px;
    display:inline-block;
    background-color: white;
    justify-content:center;
  }
  
  .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    background-color: white;
    border:none;
    cursor: pointer;
  }

  .dropdown-toggle i {
    margin:none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    border: none;
    border-radius: 2rem;
}
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style:none;
}
h2
{
    text-align:center;
    margin-left: 400px;
    font-family: 'lobster two';
    font-size: medium;
}

.todo {
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    font-family: 'satisfy';
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
}

.todo li {
    flex: 1;
}

.trash-btn, 
.complete-btn {
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn {
    background-color: lawngreen;
}

.trash-btn {
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background-color: crimson;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, 
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;

  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

select {
    color:darkorange;
    width: 15rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background-color: darkorange;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: chocolate;
    color:whitesmoke;
}